body{
    background-color: black;
    font-family: Verdana, sans-serif;
    text-align: center;
    align-content: center;
}

h1 {
    font-weight: normal;
    font-size: 3.125rem;
    color: white;
}

h2 {
    font-weight: 300;
    font-size: 2.625rem;
    color: white;
}

p {
    font-size: 21px;
    color: grey;
}

.cta {
    color: aquamarine;
    font-size: 1rem;
}

.footer {
    text-align: right; 
}